name: URL Summarizer

on:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]

jobs:
  summarize:
    uses: s-kuma-11/my-actions/.github/workflows/url-summarizer.yml@main
    permissions:
      contents: read
      issues: write
      id-token: write
    secrets:
      CLAUDE_CODE_OAUTH_TOKEN: ${{ secrets.CLAUDE_CODE_OAUTH_TOKEN }}
